.idea/
target/
*.iml
*.tar.gz
.DS_Store
.project
.settings
.classpath
.gitignore.swp
great-wall-util-backend/src/main/resources/public

*.jar

# dependencies
node_modules
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json

# production
dist

# misc
.DS_Store

# umi
.umi
.umi-production
